.show-item {
  position: relative;
  display: block;
  height: 425px;
  border: 1px solid #999;
  border-radius: 5px;

  &-image {
    height: 375px;

    img {
      width: 100%;
      border-radius: 5px;
      height: 375px;
      object-fit: cover;
    }
  }
  &-rating {
    position: absolute;
    display: flex;
    gap: 5px;
    align-items: center;
    top: 10px;
    left: 10px;
    background-color: black;
    border-radius: 5px;
    padding: 5px 10px;
    .pi {
      font-size: 1.2rem;
      color: orange;
      margin-right: 5px;
    }
  }
  &-title {
    font-weight: bold;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 0 5px 5px 0;
  }
}
